{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}Delete{% endblock %}

{% block content %}
    <section class="d-flex flex-column min-vh-100">
        <div class="container mt-5">
            <form method="POST">
                {% csrf_token %}
                <h1>Delete the response by "{{ response.user }}"</h1>
                <p>Are you sure you want to delete the response?</p>
                <button class="btn btn-danger" type="submit" value="Submit">Delete</button>
            </form>
        </div>
    </section>
{% endblock content %}

