{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}Accept{% endblock %}

{% block content %}
    <section class="d-flex flex-column min-vh-100">
        <div class="container mt-5">
            <form method="POST">
                {% csrf_token %}
                <h1>Accept the response by "{{ response.user }}"?</h1>
                {{ form|crispy}}
                <button class="btn btn-success" type="submit" value="Submit">Accept</button>
            </form>
        </div>
    </section>
{% endblock content %}

